@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    vertical-align: middle;
}

/*----------- body part start ------------*/

#body{
    width:100%;
    background: #EFF0F7;
    padding: 85px 0px;
}

/*----------- body part end ------------*/

/*----------- form part start ------------*/

.card{
    width:400px;
    background: #ffffff;
    padding-top: 59px;
    padding-bottom: 43px;
    border-radius: 16px;
    filter:drop-shadow(0px 8px 16px rgba(17, 17, 17, 0.04));
}

.card h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color:#14142B;
	letter-spacing: 1px;
}

.card a{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:#4E4B66;
    letter-spacing: 1px;
    padding-top: 16px;
}

.form{
    padding-top: 20px;
}

.name{
    width:272px;
    position: relative;
}

.name input{
    width:272px;
    height: 57px;
    border-radius: 16px;
    background: #EFF0F6;
    border: none;
    padding-left: 64px;
    padding-right: 45px;
    font-size: 16px;
    transition: all 200ms linear 0.1s;
    transition-timing-function: ease;
}

.name-label{
    position: absolute;
    left:64px;
    top:50%;
    transform: translateY(-50%);
}

.name-label label{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#6E7191;
    letter-spacing: 1px;
    margin-bottom: 0px;
    transition: all 200ms linear 0.1s;
    transition-timing-function: ease;
}

.name input:focus,
.name input:valid {
    padding-top: 25px;
    background: #fff;
    border: 2px solid #14142B;
}

.name input:focus ~ .name-label label,
.name input:valid ~ .name-label label {
    font-size: 14px;
    padding-bottom: 25px;
}

.name-icon{
    position: absolute;
    left:24px;
    top:50%;
    transform: translateY(-50%);
}

.username{
    width:272px;
    position: relative;
}

.username input{
    width:272px;
    height: 57px;
    border-radius: 16px;
    background: #EFF0F6;
    border: none;
    padding-left: 64px;
    padding-right: 45px;
    font-size: 16px;
    transition: all 200ms linear 0.1s;
    transition-timing-function: ease;
}

.username-label{
    position: absolute;
    left:64px;
    top:50%;
    transform: translateY(-50%);
}

.username-label label{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#6E7191;
    letter-spacing: 1px;
    margin-bottom: 0px;
    transition: all 200ms linear 0.1s;
    transition-timing-function: ease;
}

.username input:focus,
.username input:valid {
    padding-top: 25px;
    background: #fff;
    border: 2px solid #14142B;
}

.username input:focus ~ .username-label label,
.username input:valid ~ .username-label label {
    font-size: 14px;
    padding-bottom: 25px;
}

.username-icon{
    position: absolute;
    left:24px;
    top:50%;
    transform: translateY(-50%);
}





.email-icon{
    position: absolute;
    left:24px;
    top:50%;
    transform: translateY(-50%);
}

.padd{
    padding: 17px;
}

.password{
    width:272px;
    position: relative;
}

.password input{
    width:272px;
    height: 57px;
    border-radius: 16px;
    background: #EFF0F6;
    border: 2px solid #00ba88;
    padding-left: 64px;
    padding-right: 45px;
    font-size: 16px;
    transition: all 200ms linear 0.1s;
    transition-timing-function: ease;
}

.pass-label{
    position: absolute;
    left:64px;
    top:50%;
    transform: translateY(-50%);
}

.pass-label label{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#6E7191;
    letter-spacing: 1px;
    margin-bottom: 0px;
    transition: all 200ms linear 0.1s;
    transition-timing-function: ease;
}

.password input:focus,
.password input:valid {
    padding-top: 25px;
    background: #fff;
    border: 2px solid #14142B;
}

.password input:focus ~ .pass-label label,
.password input:valid ~ .pass-label label {
    font-size: 14px;
    padding-bottom: 25px;
}

.password-icon{
    position: absolute;
    left:24px;
    top:50%;
    transform: translateY(-50%);
}

.input-success{
    position: absolute;
    bottom: -44px;
    left:6px;
}

.input-success p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#6E7191;
    letter-spacing: 1px;
}

.btn{
    padding-top: 35px;
}

.btn button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:#F7F7FC;
    width: 130px;
    height: 46px;
    border: none;
    border-radius: 40px;
    background: #5F2EEA;
}

.backspace{
    height:40px;
    width: 20px;
    background: #fff;
    line-height: 40px;
    position: absolute;
    right:10px;
    top:50%;
    transform: translateY(-50%);
    z-index: 9999;
    visibility: hidden;
}

.backspace button{
    background: none;
    border: none;
}

.backspace button img{
    height: 16px;
    width: 16px;
}

.name input:focus ~ .backspace{
    visibility: visible;
}

.username input:focus ~ .backspace{
    visibility: visible;
}

.email input:focus ~ .backspace{
    visibility: visible;
}

.password input:focus ~ .backspace{
    visibility: visible;
}
/*----------- form part end ------------*/

/*----------- error part start ------------*/
.error{
    width:400px;
    padding:16px 0px;
    background: #ED2E7E;
    border-radius: 8px;
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    /* visibility: hidden; */
}

.error p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:#FCFCFC;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.close{
    position: absolute;
    top:50%;
    right: 16px;
    transform: translateY(-50%);
    opacity: 1;
}
/*----------- error part end ------------*/